<app-navbar></app-navbar>
<div class="main">
    <div class="container">
      <div class="row ">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 g-3 ">
              <div class="row">
                <div class=" col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 ">
                  <app-sidebar></app-sidebar>
                  </div>
                <div class="col col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 col-xxl-10 ">
                  
                  <div class="container " >


<section class="profile">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">Welcome Admin !</h5>
        </div>
      </div>
    <header class="header">
      <div class="details">
        <img src="https://th.bing.com/th/id/OIP.KitsWvuPkcEUMv3Vd1yQ9QHaHa?pid=ImgDet&rs=1" alt="John Doe" class="profile-pic">
        <h1 class="heading">Shibin Bevin</h1>
        </div>
        <div class="stats">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="col-4">
            <h4>Username</h4>
            <p>Shibin107</p>
          </div>
          <div class="col-4">
            <h4>Email ID</h4>
            <p>shibinbevin450@gmail.com</p>
          </div>
          </div></header></section>
          </div>
        </div>
      </div>
      </div>
    </div>
      </div>
    

  